SERVICE=plex
SERVICEPORT=32400
TS_AUTHKEY=replace-with-your-reusable-tailscale-auth-key
TZ=Etc/UTC

IMAGE_URL=lscr.io/linuxserver/plex:latest
PLEX_CLAIM=claim-xxxxxxxxxxxxxxxxxxxx
PLEX_CONFIG_PATH=./plex-data/config
PLEX_MEDIA_PATH=./plex-data/media
DNS_SERVER=1.1.1.1
