SERVICE=access-control
SERVICEPORT=8787
HOME_LAB_DIR=.
VITE_ACCESS_CONTROL_API_URL=http://localhost:8787
WG_EASY_API_URL=http://wg-easy:51821
WG_EASY_ADMIN_USERNAME=admin
WG_EASY_ADMIN_PASSWORD=change-me
