[
  {
    "source": ["family"],
    "destination": ["raspberry"],
    "service": ["ssh"],
    "action": "reject",
    "comment": "Block SSH to Raspberry"
  },
  {
    "source": ["iphone"],
    "destination": ["macbook"],
    "action": "deny",
    "comment": "Default phone to Mac deny"
  },
  {
    "source": ["macbook"],
    "destination": ["phone"],
    "action": "allow",
    "comment": "Allow Mac to phone"
  },
  {
    "source": ["dams-s23"],
    "destination": ["macbook", "raspberry"],
    "service": ["https", "admin"],
    "action": "allow",
    "comment": "Allow multiple services"
  }
]
