SERVICE=deluge
SERVICEPORT=8112
TS_AUTHKEY=replace-with-your-reusable-tailscale-auth-key
TZ=Etc/UTC

IMAGE_URL=lscr.io/linuxserver/deluge:latest
DELUGE_CONFIG_PATH=./deluge-data/config
DOWNLOADS_PATH=./deluge-data/downloads
DNS_SERVER=1.1.1.1
