SERVICE=jellyfin
SERVICEPORT=8096
TS_AUTHKEY=replace-with-your-reusable-tailscale-auth-key
TZ=Etc/UTC

IMAGE_URL=lscr.io/linuxserver/jellyfin:latest
JELLYFIN_CONFIG_PATH=./jellyfin-data/config
JELLYFIN_CACHE_PATH=./jellyfin-data/cache
JELLYFIN_MEDIA_PATH=./jellyfin-data/media
